# Arquivos/pastas gerados pelo Maven
target

# Arquivos de dependências do Maven
.mvn
repository

# Arquivos/pastas gerados pelo Spring Boot
logs
spring.pid

# Outros arquivos e pastas não necessários para o contêiner Docker
.dockerignore
.git
.gitignore
README.md
